<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @friend.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @friend.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @friend.longitude %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
